#consentheader{
    border: 2px solid black;
    width:fit-content;
    padding: 5px;
}
#consent{
    display: none;
}
#consentQheader{
    border: 2px solid black;
    width:fit-content;
    padding: 5px;
}
#consentQ{
    display: none;
}
#helpheader{
    border: 2px solid black;
    width:fit-content;
    padding: 5px;
}
#help{
    display: none;
}
#anonymoustheader{
    border: 2px solid black;
    width:fit-content;
    padding: 5px;
}
#anonymous{
    display: none;
}
#talkheader{
    border: 2px solid black;
    width:fit-content;
    padding: 5px;
}
#talk{
    display: none;
}