*{
    margin: 0;
    padding: 0;
}
body{
    background-Color: #008078;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#form{
    background-color: #000;
    height: 600px;
    width: 800px;
    margin: auto;
    margin-top: 200px;
    opacity: 0.7;
    color: white;
}
#form h1{
    padding: 10px;
}
#first-group{
    border: 2px solid blue;
    width: 400px;
    margin-top: 38px;
    font-size: 2.0rem;
    position: absolute;
}
.content{
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}
.content #input-group{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 300px;
    color: #fff;
}
::placeholder{
    color: #fff;
}
.fa{
    display: inline-block;

    border: 1 px solid #fff;
    padding: 8px;
    margin-top: 8px;

}
#second-group{
    border: 2px solid blue;
    width: 400px;
    margin-top: 47px;
    font-size: 2.0rem; 
    margin-left: 400px;
}
#submit-btn{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color: #fff;
    width: 150px;
    border:  1px solid grey;
    outline: none;
    padding: 10px;
    font-size: 20px;

}